In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv("iris.csv")
data.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

In [3]:
data.drop('Unnamed: 0',axis=1)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
label=LabelEncoder()

In [6]:
data['species']=label.fit_transform(data['species'])

In [7]:
data.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  species
0           0           5.1          3.5           1.4          0.2        0
1           1           4.9          3.0           1.4          0.2        0
2           2           4.7          3.2           1.3          0.2        0
3           3           4.6          3.1           1.5          0.2        0
4           4           5.0          3.6           1.4          0.2        0

In [35]:
#x=data[['sepal_length','sepal_width','petal_length','petal_width']]
#y=data[['species']]

x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [36]:
print(x)

     Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width
0             0           5.1          3.5           1.4          0.2
1             1           4.9          3.0           1.4          0.2
2             2           4.7          3.2           1.3          0.2
3             3           4.6          3.1           1.5          0.2
4             4           5.0          3.6           1.4          0.2
..          ...           ...          ...           ...          ...
145         145           6.7          3.0           5.2          2.3
146         146           6.3          2.5           5.0          1.9
147         147           6.5          3.0           5.2          2.0
148         148           6.2          3.4           5.4          2.3
149         149           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

In [37]:
print(y)

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int32

In [38]:
data.isnull().sum()

Unnamed: 0      0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [39]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [40]:
#x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=1)
x.shape,x_train.shape,x_test.shape

((150, 5), (120, 5), (30, 5))

In [41]:
model=LinearRegression()

In [42]:
model.fit(x_train,y_train)

LinearRegression()

In [43]:
prediction=model.predict(x_test)
print(prediction)

[-0.27873219  1.08548719  1.1162682  -0.13236745  1.96327379  1.14421393
  1.94682553  0.25396423  0.08061269  1.9377107   1.3216818  -0.11676493
  1.77590492  1.02101166  1.2723368   0.14554095  1.20593344  1.2423999
  0.02362807 -0.01341983  1.32876359  1.40027788  1.33606925  0.07169656
  1.87345089  1.31971423 -0.05235503 -0.04660117  1.19236218  1.94158044]

In [44]:
print("accuracy on training data",model.score(x_train,y_train))

accuracy on training data 0.960687478937339

In [45]:
print("accuracy on testing data",model.score(x_test,y_test))

accuracy on testing data 0.9300493858110195

In [46]:
from sklearn import metrics

In [47]:
# R squared Error
error_score = metrics.r2_score(y_test,prediction)
print("R squared Error : ", error_score)

R squared Error :  0.9300493858110195

In [48]:
prediction.tolist()

[-0.2787321899945791,
 1.0854871930570051,
 1.1162681956986207,
 -0.1323674534195716,
 1.9632737910335032,
 1.1442139282986044,
 1.9468255334571887,
 0.253964225165539,
 0.08061269251848588,
 1.9377106987401511,
 1.3216817956253597,
 -0.11676493231015286,
 1.775904918945062,
 1.021011663253636,
 1.2723367981611688,
 0.14554094761061204,
 1.2059334356124212,
 1.2423998979857935,
 0.023628072892561483,
 -0.01341982653367367,
 1.3287635869613896,
 1.4002778817025856,
 1.3360692492483577,
 0.07169655674479541,
 1.8734508861445884,
 1.3197142342771273,
 -0.05235503414469833,
 -0.04660116718297297,
 1.1923621819062133,
 1.9415804445025233]

In [50]:

data1=pd.DataFrame({"actual result":y_test,'predicted result':prediction})
print(data1)

     actual result  predicted result
14               0         -0.278732
98               1          1.085487
75               1          1.116268
16               0         -0.132367
131              2          1.963274
56               1          1.144214
141              2          1.946826
44               0          0.253964
29               0          0.080613
120              2          1.937711
94               1          1.321682
5                0         -0.116765
102              2          1.775905
51               1          1.021012
78               1          1.272337
42               0          0.145541
92               1          1.205933
66               1          1.242400
31               0          0.023628
35               0         -0.013420
90               1          1.328764
84               1          1.400278
77               1          1.336069
40               0          0.071697
125              2          1.873451
99               1          1.319714
33               0         -0.052355
19               0         -0.046601
73               1          1.192362
146              2          1.941580

In [51]:
# mean square error
from sklearn.metrics import mean_squared_error
meansquare=mean_squared_error(y_test,prediction)
print(meansquare)

0.03769560875739508

In [53]:
from sklearn.metrics import mean_absolute_error
meanabsolute=mean_absolute_error(y_test,prediction)
print(meanabsolute)

0.15878189558276354

In [62]:


import math

 
#MSE = np.square(np.subtract(y_test,prediction)).mean() 
#RMSE = math.sqrt(MSE)
#print(RMSE)

RMSE=math.sqrt(meansquare)
print(RMSE)

0.19415357003515304